# Data handling
## Lesen von Daten, Import
http://pandas.pydata.org/pandas-docs/stable/10min.html

In [20]:
import pandas as pd

In [21]:
diagrams=pd.read_json('diaattr.json')

## Anzeigen, Ausgabe von Inhalten

In [23]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [30]:
diagrams['altID'].head(3)

0     Plin4
1    Plin41
2    Plin67
Name: altID, dtype: object

### Indizes, Subsets

Einzelne Zeilen mit *loc* und *iloc*

In [24]:
diagrams.loc[4]

altID                                                    Plin6
author                                                 Plinius
biblio                                         Paris BN, 11130
diaAttr      [{'M2.16': 1, 'M2.23': 0, 'M2.14': 0, 'M2.1': ...
diaID                                                 MAPD0690
diaTyp                                                       2
diaURL            Jk_2&pn=1&dw=1858&dh=901&ww=1&wh=1&wx=0&wy=0
foliopage                                                  74v
manID                                                    JK(2)
manURL                                               Jk_2&pn=1
textID                                                 JK(2)_A
textURL
year                                                       XII
Name: 4, dtype: object

In [25]:
diagrams.ix[diagrams.author=='Plinius'].diaID.ix[0:3]

0    MAPD0668
1    MAPD0670
2    MAPD0698
3    MAPD0714
Name: diaID, dtype: object

In [32]:
diagrams.ix[diagrams.author=='Capella'].diaID.head(3)

314    MAPD0345
411    MAPD0347
466    MAPD0386
Name: diaID, dtype: object

## Aufruf von keys
Auf objekte rufen keys die Menge der Werte dieser Keys auf

In [27]:
diagrams.loc[12:20:2].author

12    Plinius
14    Plinius
16    Plinius
18    Plinius
20    Plinius
Name: author, dtype: object

In [29]:
diagrams.loc[12:15,["author","textID","year"]]

     author   textID     year
12  Plinius  MP(2)_A  IX(820)
13  Plinius  MP(2)_A  IX(820)
14  Plinius  PA(1)_A  XII(in)
15  Plinius  PA(1)_A  XII(in)