# Data handling
## Allgemeine Beschreibung von Pandas
  ++ Serien: Listen von Objekten
  ++ Dataframes: Dictionaries
  ++ Panels
  http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
  
## Lesen von Daten, Import
http://pandas.pydata.org/pandas-docs/stable/10min.html

In [2]:
import pandas as pd

In [141]:
diagrams=pd.read_json('diaattr.json')

### Daten von einer Internet Ressource

In [142]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head(3)

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925

In [143]:
url = 'https://raw.githubusercontent.com/grasshoff/ComputationalHistoryScience/master/diaattr.json'
from_url = pd.read_json(url)
from_url.head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX
1,Plin41,Plinius,"Vaticano BAV, Ross. 247","[{'M3.6': 1, 'M3.9': 0, 'M3.23': 0, 'M3.18': 1...",MAPD0670,3,Dl_1&pn=395&dw=1858&dh=901&ww=0.9617&wh=0.7723...,200r,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [5]:
# Load  JSON from git
url = 'https://raw.githubusercontent.com/grasshoff/ComputationalHistoryScience/master/diaattr.json'
# read JSON via pandas
from_url = pd.read_json(url)
# reduce dataframe to author Capella
df_capella = from_url[(from_url.author=='Capella')]
# more complex boolean operations in brackets connected with &
df_capella_ix = from_url[(from_url.author=='Capella') & (from_url.year=='IX')]

In [6]:
# group dataframe by textID and count in each subgroup
df_size = df_capella.groupby('textID').size()
# convert to dictonary
dictCount = df_size.to_dict()
# create dataframe with requiered columns
df_ManuTextDiaCount = df_capella[['manID','textID','diaID']].reset_index(drop=True)
# add counting column by replacing textID with the counted number
df_ManuTextDiaCount['Count'] = df_ManuTextDiaCount['textID'].replace(dictCount)

In [7]:
df_ManuTextDiaCount

     manID   textID     diaID  Count
0    LK(1)  LK(1)_B  MAPD0345      1
1    NW(2)  NW(2)_A  MAPD0347      1
2    AY(3)  AY(3)_A  MAPD0386      2
3    AY(3)  AY(3)_A  MAPD0397      2
4    AY(1)  AY(1)_A  MAPD0292     12
5    AY(1)  AY(1)_A  MAPD0367     12
6    AY(1)  AY(1)_A  MAPD0442     12
7    AY(1)  AY(1)_A  MAPD0452     12
8    AY(1)  AY(1)_A  MAPD0298     12
9    AY(1)  AY(1)_A  MAPD0315     12
10   AY(1)  AY(1)_A  MAPD0329     12
11   AY(1)  AY(1)_A  MAPD0392     12
12   AY(1)  AY(1)_A  MAPD0416     12
13   AY(1)  AY(1)_A  MAPD0429     12
14   AY(1)  AY(1)_A  MAPD0464     12
15   AY(1)  AY(1)_A  MAPD0739     12
16   BN(3)  BN(3)_A  MAPD0402      1
17   AO(2)  AO(2)_A  MAPD0291     12
18   AO(2)  AO(2)_A  MAPD0296     12
19   AO(2)  AO(2)_A  MAPD0313     12
20   AO(2)  AO(2)_A  MAPD0327     12
21   AO(2)  AO(2)_A  MAPD0413     12
22   AO(2)  AO(2)_A  MAPD0427     12
23   AO(2)  AO(2)_A  MAPD0462     12
24   AO(2)  AO(2)_A  MAPD0735     12
25   AO(2)  AO(2)_A  MAPD0341     12
26   AO(2)  AO(2)_A  MAPD0365     12
27   AO(2)  AO(2)_A  MAPD0440     12
28   AO(2)  AO(2)_A  MAPD0458     12
29   AO(3)  AO(3)_A  MAPD0297     12
..     ...      ...       ...    ...
144  Z(2)1  Z(2)1_A  MAPD0395      3
145  Z(2)1  Z(2)1_A  MAPD0408      3
146  Z(2)1  Z(2)1_A  MAPD0411      3
147  Z(3)8  Z(3)8_A  MAPD0294     12
148  Z(3)8  Z(3)8_A  MAPD0305     12
149  Z(3)8  Z(3)8_A  MAPD0308     12
150  Z(3)8  Z(3)8_A  MAPD0325     12
151  Z(3)8  Z(3)8_A  MAPD0339     12
152  Z(3)8  Z(3)8_A  MAPD0346     12
153  Z(3)8  Z(3)8_A  MAPD0364     12
154  Z(3)8  Z(3)8_A  MAPD0422     12
155  Z(3)8  Z(3)8_A  MAPD0438     12
156  Z(3)8  Z(3)8_A  MAPD0449     12
157  Z(3)8  Z(3)8_A  MAPD0460     12
158  Z(3)8  Z(3)8_A  MAPD0736     12
159  Z(4)1  Z(4)1_A  MAPD0295     15
160  Z(4)1  Z(4)1_A  MAPD0326     15
161  Z(4)1  Z(4)1_A  MAPD0396     15
162  Z(4)1  Z(4)1_A  MAPD0409     15
163  Z(4)1  Z(4)1_A  MAPD0412     15
164  Z(4)1  Z(4)1_A  MAPD0450     15
165  Z(4)1  Z(4)1_A  MAPD0461     15
166  Z(4)1  Z(4)1_A  MAPD0306     15
167  Z(4)1  Z(4)1_A  MAPD0309     15
168  Z(4)1  Z(4)1_A  MAPD0340     15
169  Z(4)1  Z(4)1_A  MAPD0357     15
170  Z(4)1  Z(4)1_A  MAPD0423     15
171  Z(4)1  Z(4)1_A  MAPD0439     15
172  Z(4)1  Z(4)1_A  MAPD0447     15
173  Z(4)1  Z(4)1_A  MAPD0744     15

[174 rows x 4 columns]

## Kopieren von Dataframes

In [144]:
dia2=diagrams.copy()

# Anzeigen, Ausgabe von Inhalten

In [145]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [146]:
diagrams['altID'].head(3)

0     Plin4
1    Plin41
2    Plin67
Name: altID, dtype: object

# Auswahl der Zeilen

### Indizes, Subsets

Einzelne Zeilen mit *loc* und *iloc*

In [147]:
diagrams.loc[4]

altID                                                    Plin6
author                                                 Plinius
biblio                                         Paris BN, 11130
diaAttr      [{'M2.16': 1, 'M2.23': 0, 'M2.14': 0, 'M2.1': ...
diaID                                                 MAPD0690
diaTyp                                                       2
diaURL            Jk_2&pn=1&dw=1858&dh=901&ww=1&wh=1&wx=0&wy=0
foliopage                                                  74v
manID                                                    JK(2)
manURL                                               Jk_2&pn=1
textID                                                 JK(2)_A
textURL
year                                                       XII
Name: 4, dtype: object

In [148]:
diagrams.ix[diagrams.author=='Plinius'].diaID.ix[0:3]

0    MAPD0668
1    MAPD0670
2    MAPD0698
3    MAPD0714
Name: diaID, dtype: object

In [149]:
diagrams.ix[diagrams.author=='Capella'].diaID.head(3)

314    MAPD0345
411    MAPD0347
466    MAPD0386
Name: diaID, dtype: object

## Aufruf von keys
Auf objekte rufen keys die Menge der Werte dieser Keys auf

In [150]:
diagrams.loc[12:20:2].author

12    Plinius
14    Plinius
16    Plinius
18    Plinius
20    Plinius
Name: author, dtype: object

In [151]:
diagrams.loc[12:15,["author","textID","year"]]

     author   textID     year
12  Plinius  MP(2)_A  IX(820)
13  Plinius  MP(2)_A  IX(820)
14  Plinius  PA(1)_A  XII(in)
15  Plinius  PA(1)_A  XII(in)

In [172]:
listeAutoren=pd.Series(diagrams["author"])

In [174]:
listeAutoren.set_value

<bound method Series.set_value of 0        Plinius
1        Plinius
2        Plinius
3        Plinius
4        Plinius
5        Plinius
6        Plinius
7        Plinius
8        Plinius
9        Plinius
10       Plinius
11       Plinius
12       Plinius
13       Plinius
14       Plinius
15       Plinius
16       Plinius
17     Macrobius
18       Plinius
19       Plinius
20       Plinius
21       Plinius
22       Plinius
23       Plinius
24       Plinius
25       Plinius
26       Plinius
27       Plinius
28       Plinius
29       Plinius
         ...
691      Capella
692      Capella
693      Capella
694      Capella
695      Capella
696      Capella
697      Capella
698      Capella
699      Capella
700      Capella
701      Capella
702      Capella
703      Capella
704      Capella
705      Capella
706      Capella
707      Capella
708      Capella
709      Capella
710      Capella
711      Capella
712      Capella
713      Capella
714      Capella
715      Capella
716      Capella
717      Capella
718      Capella
719      Capella
720      Capella
Name: author, dtype: object>

## Boolean selection

In [152]:
diagrams[diagrams.diaTyp==8].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
17,Macr9,Macrobius,"Berlin SB, Phillipps 1833","[{'M8.29': 0, 'M8.3': 1, 'M8.14': 0, 'M8.37': ...",MAPD0616,8,Qc_2&pn=36&dw=1858&dh=901&ww=0.2848&wh=0.4941&...,36r,QC(2),Qc_2&pn=1,QC(2)_A,,XI(in)
334,Macr3,Macrobius,"Admont StiB, Ms 514","[{'M8.29': 0, 'M8.3': 0, 'M8.14': 0, 'M8.37': ...",MAPD0550,8,Co_1&pn=36&dw=1858&dh=901&ww=0.3039&wh=0.3625&...,36r,CO(1),Co_1&pn=1,CO(1)_A,,XII(ex)

# ?Komplexe boolean selection

Selection mit *isin*

In [153]:
diagrams[diagrams.year.isin(['XI'])].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
26,Plin18,Plinius,"Vaticano BAV, Regin. 1573","[{'M1.16': 0, 'M1.1': 0, 'M1.6': 0, 'M1.22': 0...",MAPD0644,1,Dk_1&pn=54&dw=1858&dh=901&ww=0.5138&wh=0.375&w...,53r,DK(1),Dk_1&pn=1,DK(1)_A,,XI
66,Plin99,Plinius,"London BL, Cott. Vit. A.XII","[{'M1.16': 1, 'M1.1': 1, 'M1.6': '?', 'M1.22':...",MAPD0733,1,Fu_1&pn=11&dw=1858&dh=901&ww=0.3226&wh=0.4803&...,9r,FU(1),Fu_1&pn=1,FU(1)_A,,XI

## Missing Data

## Groupedby Partitionen

In [154]:
gdia=diagrams.groupby('author').groups

In [155]:
len(gdia['Capella'])

174

# Operations auf Spalten von Dataframes

## Setting
Neue Spalten berechnen und einem Dataframe hinzufügen. Diese Funktion verändert den Datenframe *diagrams*

diagrams.loc[:,"neu"]=len(diagrams)

diagrams.head(1)

## Zählen

In [156]:
len(diagrams[diagrams.author=='Capella'])

174

Zahlen für alle Autoren

## String matching und processing

http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods

## Reshaping Pivot Tabellen

http://www.nikgrozev.org/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking

In [165]:
pd.pivot_table(diagrams,index=['textID','diaID'])

DataError: No numeric types to aggregate