# Import der Medieval Diagramm Datenbank

In [2]:
import pandas as pd

In [5]:
url = 'https://raw.githubusercontent.com/grasshoff/ComputationalHistoryScience/master/diaattr.json'
diagrams = pd.read_json(url)
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.18': 1, 'M2.20': 0, 'M2.1': 1, 'M2.11': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

## Struktur der Datenbank

In [6]:
diagrams.loc[1]

altID                                                   Plin41
author                                                 Plinius
biblio                                 Vaticano BAV, Ross. 247
diaAttr      [{'M3.15': 0, 'M3.22': 0, 'M3.9': 0, 'M3.36': ...
diaID                                                 MAPD0670
diaTyp                                                       3
diaURL       Dl_1&pn=395&dw=1858&dh=901&ww=0.9617&wh=0.7723...
foliopage                                                 200r
manID                                                    DL(1)
manURL                                               Dl_1&pn=1
textID                                                 DL(1)_A
textURL
year                                                        IX
Name: 1, dtype: object

## Serien, Untermengen definieren

In [7]:
listeAutoren=pd.Series(diagrams["author"])
setAutoren=set(listeAutoren)
setAutoren

{'Calcidius', 'Capella', 'Macrobius', 'Plinius'}

In [8]:
years=pd.Series(diagrams['year'])

## Boolean selection

In [212]:
diagrams[diagrams.diaTyp==8].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
17,Macr9,Macrobius,"Berlin SB, Phillipps 1833","[{'M8.29': 0, 'M8.3': 1, 'M8.14': 0, 'M8.37': ...",MAPD0616,8,Qc_2&pn=36&dw=1858&dh=901&ww=0.2848&wh=0.4941&...,36r,QC(2),Qc_2&pn=1,QC(2)_A,,XI(in)
334,Macr3,Macrobius,"Admont StiB, Ms 514","[{'M8.29': 0, 'M8.3': 0, 'M8.14': 0, 'M8.37': ...",MAPD0550,8,Co_1&pn=36&dw=1858&dh=901&ww=0.3039&wh=0.3625&...,36r,CO(1),Co_1&pn=1,CO(1)_A,,XII(ex)

## select partial string zeilen

http://www.unknownerror.org/opensource/pydata/pandas/q/stackoverflow/11350770/pandas-dataframe-select-by-partial-string

In [9]:
dia9cent=diagrams[diagrams['year'].str.contains('IX')==True].head(3)

In [214]:
# see above answer
def stringSearchColumn_DataFrame(df, colName, regex):
    newdf = DataFrame()
    for idx, record in df[colName].iteritems():

        if re.search(regex, record):
            newdf = concat([df[df[colName] == record], newdf], ignore_index=True)

    return newdf

In [215]:
stringSearchColumn_DataFrame(diagrams,'year','IX')

NameError: name 'DataFrame' is not defined

# ?Komplexe boolean selection

Selection mit *isin*

In [ ]:
diagrams[diagrams.year.isin(['XI'])].head(2)

## Missing Data

## Groupedby Partitionen

In [ ]:
gdia=diagrams.groupby('author').groups

In [ ]:
len(gdia['Capella'])

In [ ]:
for a in setAutoren:
    print(a + " =",len(gdia[a]))

# Operations auf Spalten von Dataframes

## Setting
Neue Spalten berechnen und einem Dataframe hinzuf체gen. Diese Funktion ver채ndert den Datenframe *diagrams*

diagrams.loc[:,"neu"]=len(diagrams)

diagrams.head(1)

## Z채hlen

In [ ]:
len(diagrams[diagrams.author=='Capella'])

Zahlen f체r alle Autoren

## String matching und processing

http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods

In [ ]:
listyears=set(diagrams['year'])
listyears

## .apply function with lambda function
## .map oder .applymap
http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-string-methods

In [222]:
f1=lambda x: len(str(x))
diagrams['year'].map(f1).head(3)

0    2
1    2
2    2
Name: year, dtype: int64

In [224]:
diagrams.applymap(f1).head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,5,7,23,269,8,3,66,4,5,9,7,0,2
1,6,7,23,449,8,3,64,4,5,9,7,0,2

In [225]:
subtabelle=pd.Series({'IX':9.,'X':10.})
diagrams['year'].map(subtabelle)

0      9.0
1      9.0
2      9.0
3      9.0
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
      ...
691    NaN
692    NaN
693    NaN
694    9.0
695    9.0
696    9.0
697    9.0
698    9.0
699    9.0
700    9.0
701    9.0
702    9.0
703    9.0
704    9.0
705    9.0
706    NaN
707    NaN
708    NaN
709    NaN
710    NaN
711    NaN
712    NaN
713    NaN
714    NaN
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
720    NaN
Name: year, dtype: float64

## Reshaping Pivot Tabellen

http://www.nikgrozev.org/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking

In [ ]:
pd.pivot_table(diagrams,index=['textID','diaID'])