# Data handling
## Allgemeine Beschreibung von Pandas
  ++ Serien: Listen von Objekten
  ++ Dataframes: Dictionaries
  ++ Panels
  http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
  
## Lesen von Daten, Import
http://pandas.pydata.org/pandas-docs/stable/10min.html

In [199]:
import pandas as pd

In [200]:
diagrams=pd.read_json('diaattr.json')

### Daten von einer Internet Ressource

In [201]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head(3)

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925

In [202]:
url = 'https://raw.githubusercontent.com/grasshoff/ComputationalHistoryScience/master/diaattr.json'
from_url = pd.read_json(url)
from_url.head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX
1,Plin41,Plinius,"Vaticano BAV, Ross. 247","[{'M3.6': 1, 'M3.9': 0, 'M3.23': 0, 'M3.18': 1...",MAPD0670,3,Dl_1&pn=395&dw=1858&dh=901&ww=0.9617&wh=0.7723...,200r,DL(1),Dl_1&pn=1,DL(1)_A,,IX

## Kopieren von Dataframes

In [203]:
dia2=diagrams.copy()

# Anzeigen, Ausgabe von Inhalten

In [204]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [205]:
diagrams['altID'].head(3)

0     Plin4
1    Plin41
2    Plin67
Name: altID, dtype: object

# Auswahl der Zeilen

### Indizes, Subsets

Einzelne Zeilen mit *loc* und *iloc*

In [206]:
diagrams.loc[4]

altID                                                    Plin6
author                                                 Plinius
biblio                                         Paris BN, 11130
diaAttr      [{'M2.16': 1, 'M2.23': 0, 'M2.14': 0, 'M2.1': ...
diaID                                                 MAPD0690
diaTyp                                                       2
diaURL            Jk_2&pn=1&dw=1858&dh=901&ww=1&wh=1&wx=0&wy=0
foliopage                                                  74v
manID                                                    JK(2)
manURL                                               Jk_2&pn=1
textID                                                 JK(2)_A
textURL
year                                                       XII
Name: 4, dtype: object

In [207]:
diagrams.ix[diagrams.author=='Plinius'].diaID.ix[0:3]

0    MAPD0668
1    MAPD0670
2    MAPD0698
3    MAPD0714
Name: diaID, dtype: object

## Aufruf von keys
Auf objekte rufen keys die Menge der Werte dieser Keys auf

In [208]:
diagrams.loc[12:20:2].author

12    Plinius
14    Plinius
16    Plinius
18    Plinius
20    Plinius
Name: author, dtype: object

In [209]:
diagrams.loc[12:15,["author","textID","year"]]

     author   textID     year
12  Plinius  MP(2)_A  IX(820)
13  Plinius  MP(2)_A  IX(820)
14  Plinius  PA(1)_A  XII(in)
15  Plinius  PA(1)_A  XII(in)

# Spalten Auswahl -> Serie

In [210]:
listeAutoren=pd.Series(diagrams["author"])
setAutoren=set(listeAutoren)
setAutoren

{'Calcidius', 'Capella', 'Macrobius', 'Plinius'}

In [211]:
years=pd.Series(diagrams['year'])

## Boolean selection

In [212]:
diagrams[diagrams.diaTyp==8].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
17,Macr9,Macrobius,"Berlin SB, Phillipps 1833","[{'M8.29': 0, 'M8.3': 1, 'M8.14': 0, 'M8.37': ...",MAPD0616,8,Qc_2&pn=36&dw=1858&dh=901&ww=0.2848&wh=0.4941&...,36r,QC(2),Qc_2&pn=1,QC(2)_A,,XI(in)
334,Macr3,Macrobius,"Admont StiB, Ms 514","[{'M8.29': 0, 'M8.3': 0, 'M8.14': 0, 'M8.37': ...",MAPD0550,8,Co_1&pn=36&dw=1858&dh=901&ww=0.3039&wh=0.3625&...,36r,CO(1),Co_1&pn=1,CO(1)_A,,XII(ex)

## select partial string zeilen

http://www.unknownerror.org/opensource/pydata/pandas/q/stackoverflow/11350770/pandas-dataframe-select-by-partial-string

In [213]:
diagrams[diagrams['year'].str.contains('IX')==True].head(3)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX
1,Plin41,Plinius,"Vaticano BAV, Ross. 247","[{'M3.6': 1, 'M3.9': 0, 'M3.23': 0, 'M3.18': 1...",MAPD0670,3,Dl_1&pn=395&dw=1858&dh=901&ww=0.9617&wh=0.7723...,200r,DL(1),Dl_1&pn=1,DL(1)_A,,IX
2,Plin67,Plinius,"Vaticano BAV, Ross. 247","[{'M4.8': 1, 'M4.5': 0, 'M4.2': 0, 'M4.1': 0, ...",MAPD0698,4,Dl_1&pn=414&dw=1858&dh=901&ww=0.9085&wh=0.6452...,209v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [214]:
# see above answer
def stringSearchColumn_DataFrame(df, colName, regex):
    newdf = DataFrame()
    for idx, record in df[colName].iteritems():

        if re.search(regex, record):
            newdf = concat([df[df[colName] == record], newdf], ignore_index=True)

    return newdf

In [215]:
stringSearchColumn_DataFrame(diagrams,'year','IX')

NameError: name 'DataFrame' is not defined

# ?Komplexe boolean selection

Selection mit *isin*

In [ ]:
diagrams[diagrams.year.isin(['XI'])].head(2)

## Missing Data

## Groupedby Partitionen

In [ ]:
gdia=diagrams.groupby('author').groups

In [ ]:
len(gdia['Capella'])

In [ ]:
for a in setAutoren:
    print(a + " =",len(gdia[a]))

# Operations auf Spalten von Dataframes

## Setting
Neue Spalten berechnen und einem Dataframe hinzufügen. Diese Funktion verändert den Datenframe *diagrams*

diagrams.loc[:,"neu"]=len(diagrams)

diagrams.head(1)

## Zählen

In [ ]:
len(diagrams[diagrams.author=='Capella'])

Zahlen für alle Autoren

## String matching und processing

http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods

In [ ]:
listyears=set(diagrams['year'])
listyears

## .apply function with lambda function
## .map oder .applymap
http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-string-methods

In [222]:
f1=lambda x: len(str(x))
diagrams['year'].map(f1).head(3)

0    2
1    2
2    2
Name: year, dtype: int64

In [224]:
diagrams.applymap(f1).head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,5,7,23,269,8,3,66,4,5,9,7,0,2
1,6,7,23,449,8,3,64,4,5,9,7,0,2

In [225]:
subtabelle=pd.Series({'IX':9.,'X':10.})
diagrams['year'].map(subtabelle)

0      9.0
1      9.0
2      9.0
3      9.0
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
      ...
691    NaN
692    NaN
693    NaN
694    9.0
695    9.0
696    9.0
697    9.0
698    9.0
699    9.0
700    9.0
701    9.0
702    9.0
703    9.0
704    9.0
705    9.0
706    NaN
707    NaN
708    NaN
709    NaN
710    NaN
711    NaN
712    NaN
713    NaN
714    NaN
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
720    NaN
Name: year, dtype: float64

## Reshaping Pivot Tabellen

http://www.nikgrozev.org/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/

http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking

In [ ]:
pd.pivot_table(diagrams,index=['textID','diaID'])