# Data handling
## Allgemeine Beschreibung von Pandas
  ++ Serien: Listen von Objekten
  ++ Dataframes: Dictionaries
  ++ Panels
  http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
  
## Lesen von Daten, Import
http://pandas.pydata.org/pandas-docs/stable/10min.html

In [35]:
import pandas as pd

In [36]:
diagrams=pd.read_json('diaattr.json')

### Daten von einer Internet Ressource

In [90]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head(3)

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925

## Kopieren von Dataframes

In [66]:
dia2=diagrams.copy()

# Anzeigen, Ausgabe von Inhalten

In [37]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX

In [38]:
diagrams['altID'].head(3)

0     Plin4
1    Plin41
2    Plin67
Name: altID, dtype: object

# Auswahl der Zeilen

### Indizes, Subsets

Einzelne Zeilen mit *loc* und *iloc*

In [39]:
diagrams.loc[4]

altID                                                    Plin6
author                                                 Plinius
biblio                                         Paris BN, 11130
diaAttr      [{'M2.16': 1, 'M2.23': 0, 'M2.14': 0, 'M2.1': ...
diaID                                                 MAPD0690
diaTyp                                                       2
diaURL            Jk_2&pn=1&dw=1858&dh=901&ww=1&wh=1&wx=0&wy=0
foliopage                                                  74v
manID                                                    JK(2)
manURL                                               Jk_2&pn=1
textID                                                 JK(2)_A
textURL
year                                                       XII
Name: 4, dtype: object

In [40]:
diagrams.ix[diagrams.author=='Plinius'].diaID.ix[0:3]

0    MAPD0668
1    MAPD0670
2    MAPD0698
3    MAPD0714
Name: diaID, dtype: object

In [41]:
diagrams.ix[diagrams.author=='Capella'].diaID.head(3)

314    MAPD0345
411    MAPD0347
466    MAPD0386
Name: diaID, dtype: object

## Aufruf von keys
Auf objekte rufen keys die Menge der Werte dieser Keys auf

In [42]:
diagrams.loc[12:20:2].author

12    Plinius
14    Plinius
16    Plinius
18    Plinius
20    Plinius
Name: author, dtype: object

In [43]:
diagrams.loc[12:15,["author","textID","year"]]

     author   textID     year
12  Plinius  MP(2)_A  IX(820)
13  Plinius  MP(2)_A  IX(820)
14  Plinius  PA(1)_A  XII(in)
15  Plinius  PA(1)_A  XII(in)

## Boolean selection

In [54]:
diagrams[diagrams.diaTyp==8].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
17,Macr9,Macrobius,"Berlin SB, Phillipps 1833","[{'M8.29': 0, 'M8.3': 1, 'M8.14': 0, 'M8.37': ...",MAPD0616,8,Qc_2&pn=36&dw=1858&dh=901&ww=0.2848&wh=0.4941&...,36r,QC(2),Qc_2&pn=1,QC(2)_A,,XI(in)
334,Macr3,Macrobius,"Admont StiB, Ms 514","[{'M8.29': 0, 'M8.3': 0, 'M8.14': 0, 'M8.37': ...",MAPD0550,8,Co_1&pn=36&dw=1858&dh=901&ww=0.3039&wh=0.3625&...,36r,CO(1),Co_1&pn=1,CO(1)_A,,XII(ex)

# ?Komplexe boolean selection

Selection mit *isin*

In [60]:
diagrams[diagrams.year.isin(['XI'])].head(2)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year
26,Plin18,Plinius,"Vaticano BAV, Regin. 1573","[{'M1.16': 0, 'M1.1': 0, 'M1.6': 0, 'M1.22': 0...",MAPD0644,1,Dk_1&pn=54&dw=1858&dh=901&ww=0.5138&wh=0.375&w...,53r,DK(1),Dk_1&pn=1,DK(1)_A,,XI
66,Plin99,Plinius,"London BL, Cott. Vit. A.XII","[{'M1.16': 1, 'M1.1': 1, 'M1.6': '?', 'M1.22':...",MAPD0733,1,Fu_1&pn=11&dw=1858&dh=901&ww=0.3226&wh=0.4803&...,9r,FU(1),Fu_1&pn=1,FU(1)_A,,XI

## Missing Data

## Groupedby Partitionen

In [76]:
gdia=diagrams.groupby('author').groups

In [89]:
len(gdia['Capella'])

174

# Operations auf Spalten von Dataframes

## Setting
Neue Spalten berechnen und einem Dataframe hinzufügen. Diese Funktion verändert den Datenframe *diagrams*

In [64]:
diagrams.loc[:,"neu"]=len(diagrams)

In [65]:
diagrams.head(1)

,altID,author,biblio,diaAttr,diaID,diaTyp,diaURL,foliopage,manID,manURL,textID,textURL,year,neu
0,Plin4,Plinius,"Vaticano BAV, Ross. 247","[{'M2.16': 1, 'M2.23': 0, 'M2.14': 1, 'M2.1': ...",MAPD0668,2,Dl_1&pn=396&dw=1858&dh=901&ww=0.8926&wh=0.6552...,200v,DL(1),Dl_1&pn=1,DL(1)_A,,IX,721

## Zählen

In [62]:
len(diagrams[diagrams.author=='Capella'])

174

## String matching und processing

http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods